export(aic.crw)
export(as.flat)
export(crwMLE)
export(crwN2ll)
export(crwPostIS)
export(crwPredict)
export(crwPredictPlot)
export(crwSamplePar)
export(crwSimulator)
export(crwUseGrid)
export(expandPred)
export(fillCols)
export(intToPOSIX)
export(logSpeed)
export(mergeTrackStop)
import(mvtnorm)
import(raster)
import(sp)
S3method(print,crwFit)
useDynLib(crawl)
